@{
    ViewBag.Title = "Lista de Clientes";
}

<div class="row">
    <div class="col-md-12">
        <h1>Lista de Clientes</h1>
        <div class="lista-clientes"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            fetch('ListaClientes').then((response) => {
                return response.text()
            }).then((data) => {
                $('.lista-clientes').html(data)
            });
        });
    </script>
}